#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/
/client/node_modules

/package-lock.json
/client/package-lock.json
/client/package.json
/client/tsconfig.json
/server/package-lock.json
/server/package.json
/client/src/app/.vscode/
/server/.vscode/
