
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li{
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid black;
    float:left;  
    left: 38vw; 
    top : 10vh;
  }
  
.green {
    background-color: rgb(55, 211, 24);
  }
  
.red {
    background-color: red;
  }

.disapear {
    visibility:hidden;
  }
button {
    font-family: courier;
    background-color:green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.return{
  background-color: black;
  padding: 15px 20px;
  color: white; 
}
