button {
    font-family: courier;
    background-color:green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    margin: 2vmax;
}
.return{
    background-color: black;
    color: white; 
  }
  h1 {color: #0897f7;
    font-family: courier; 
    font-size: 50px;
    text-align: center;
    margin: 20%;

}