/* dt  {
    color: rgba(0, 4, 255, 0.705); 
    font-weight: bold; 
} */
/* dl, ol {
    width: 50%;
    overflow: hidden;
    background: #ff0;
    padding: 0;
    margin: 0
  }
  dt, table {
    float: left;
    width: 50%;
 
    background: rgb(123, 176, 197);
    padding: 0;
    margin: 0
  }
  dd {
    float: left;
    width: 50%; 
    background: rgb(123, 197, 197);
    padding: 0;
    margin: 0
  } */
  /* ol {
    width: 50%;
    overflow: hidden;
    background: #ff0;
    padding: 0;
    margin: 0
  } */
  /* dl, table {
    margin-bottom:50px;
}
 
dt {
    background:#5f9be3;
    color:#fff;
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:100px; 
}
 
dd, tr {
    margin:2px 0; 
    padding:5px 0;
} */
button {
    background-color:#36f456;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


a:hover {
    color: hotpink;
}
