h1 {
    
    font-family: courier;
    float: center;
    align-items: center; 
    margin: 3vmax;
}
h3 {
  font-family: courier;
  align-items: center; 
}
  ol {

    width: 100%;
    overflow: hidden;
    padding: 0;
    float: left;
    margin: 10px 250px;
  }
  li {
    width: 70%;
    background: rgb(220, 221, 220);
    padding: 0;
    margin: 0
  }
  dt {
    color: red;
    font-family: courier;
    font-size: 100%;
    font-weight: bold; 
    float: left;
    width: 20%;
    padding: 15px 32px;
    padding: 0;
    margin: 0
  }

  dd{
    font-family: courier;
    float: left;
    width: 80%; 
    padding: 0;
    margin: 0
  } 
  table {
    font-family: courier;
    border: 1px solid black;
    border-radius: 8px;
    float: left;
    width: 80%; 
     background: rgb(235, 232, 232); 
    padding: 0;
    margin: 0
  } 
  
button {
    font-family: courier;
    background-color:#f0a038;
    border: none;
    color:#162153 ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}



