div {text-align:center;
    font-family: courier;
    color: crimson;
}

a {font-family: courier;}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0vh 45vmax; 
}

a:hover, a:active {
    background-color: green;
}
.crossword {
    float: left;  
     
    /* margin: 0vh 45vmax; */
}
 
.racing {
    float: center; 
    /* margin: 0vh 45vmax; */
    margin: 00 px 10px; 
   
}