<h2>
  Home Page. Welcome to the crossword
</h2>
<form #form = "ngForm" (ngSubmit)=play(form) >
<label>Choose the difficulty</label>

  <div class="radio">
      
          <input type="radio" name="difficultyGrade" [value]=0 [(ngModel)] ="difficultyGrade">
          Easy
      
  </div>
  <div class="radio">
      <label>
          <input type="radio" name="difficultyGrade" [value]=1 [(ngModel)] ="difficultyGrade">
          Medium
      </label>
  </div>
  <div class="radio">
    <label>
        <input type="radio" name="difficultyGrade" [value]=2 [(ngModel)] ="difficultyGrade">
        Hard
    </label>
  </div>


<label>Number of players : </label>
<div class="form-group">
  <div class="radio">
      <label>
          <input type="radio" name="numberPlayers" [value]=1 [(ngModel)] = "numberPlayers">
          One
      </label>
  </div>
  <div class="radio">
      <label>
          <input type="radio" name="numberPlayers" [value]=2 [(ngModel)] = "numberPlayers">
          Two
      </label>
  </div>
</div>
<button [disabled]="disablePlayButton()" type="submit" >Play</button>
<button [disabled]="disableJoinButton()" (click)="joinGame(form)" >Join Existing</button>
<input type="text" name="playerName" [(ngModel)]="playerName" />
</form>
