.layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 600px 0.5fr 0.5fr;
}

.crossword-grid {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: 1fr;
}

.crossword-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 50px);
}

.cell, .black, .selectedByPlayer, .selectedByOpponent, .selectedByBoth, .wordFound {
    z-index:0;
    width:50px;
    height:50px;
    outline:1px solid #000;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 20px;
}

.black {
    background-color:black;
}

.selectedByPlayer, .selectedByOpponent, .selectedByBoth {
    z-index: 1;
    outline-width: 4px;
}

.selectedByPlayer {
    outline-color: #0099cc;
}

.selectedByOpponent {
    outline-color: #ff9900;
}

.selectedByBoth {
    box-shadow: 0px 0px 0 4px #ff9900;
    outline-color: #0099cc;
    outline-style: dotted;
}

.letterFoundByOpponent {
    background-color: #ffe066;
}

.letterFoundByPlayer {
    background-color: #80dfff;
}

.letterFoundByBoth {
    background: repeating-linear-gradient(
        35deg,
        #80dfff,
        #80dfff 10px,
        #ffe066 10px,
        #ffe066 20px
    );
}

.definition, .definition-selectedByPlayer, .definition-selectedByOpponent, .definition-selectedByBoth, .definition-foundByOpponent, .definition-foundByPlayer {
    display:inline-block;
    clear:both;
    float:left;
}

.definition {
    cursor: pointer;
}

.definition-selectedByPlayer {
    cursor: default;
    outline:1px solid #0099cc;
}

.definition-selectedByOpponent {
    outline:1px solid #ff9900;
}

.definition-selectedByBoth {
    cursor: default;
    box-shadow:0 0 0 1px #ff9900;
    outline:1px solid #0099cc;
}

.definition-foundByOpponent {
    background-color: #ffe066;
    text-decoration: line-through;
}

.definition-foundByPlayer {
    background-color: #80dfff;
    text-decoration: line-through;
}

