.layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 600px 0.5fr 0.5fr;
}

.crossword-grid {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: 1fr;
}

.crossword-row {
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: repeat(10, 50px);
}

.cell, .black, .selected, .wordFound {
    width:50px;
    height:50px;
    outline:1px solid #000;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 20px;
}

.black {
    background-color:black;
}

.selected {
    outline-width: 4px !important;
    outline-color: black !important;
}

.wordFound {
    color: #1fcc1f;
    outline: 2px solid #1fcc1f;
 }

.definition {
    cursor: pointer;
}

.definition-selected {
    cursor: default;
    outline:1px solid #000;
}

.definition-found {
    text-decoration: line-through;
}

