.layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 600px 0.5fr 0.5fr;
}

.crossword-grid {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: 1fr;
}

.crossword-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 50px);
}

.cell, .black, .selected, .wordFound {
    z-index:0;
    width:50px;
    height:50px;
    outline:1px solid #000;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 20px;
}

.black {
    background-color:black;
}

.selected {
    z-index: 1;
    outline-width: 4px;
    outline-color: black;
}

.letterFoundByOpponent {
    background-color: #ffe066;
}

.letterFoundByPlayer {
    background-color: #80dfff;
}

.letterFoundByBoth {
    background: repeating-linear-gradient(
        35deg,
        #80dfff,
        #80dfff 10px,
        #ffe066 10px,
        #ffe066 20px
    );
}

.definition {
    cursor: pointer;
}

.definition-selected {
    cursor: default;
    outline:1px solid #000;
}

.definition-foundByOpponent {
    color: #ff1a1a;
    text-decoration: line-through;
}

.definition-foundByPlayer {
    color: #1fcc1f;
    text-decoration: line-through;
}

