<h1>Mot croisé!</h1>
<h2>Nombre de joueurs: {{nbPlayers}}</h2>
<div class="crossword-grid">
  <div class="crossword-row" *ngFor="let row of cells">
    <div *ngFor="let cell of row" [ngClass]="{'selected': cell.selected == true, 'cell': cell.selected == false, 'black': cell.content == '-'}">
      {{cell.content}}
    </div>
  </div>
</div>
<div class="definition-columns">
  <div>
    <h2>horizontal</h2>
    <p *ngFor="let word of horizontalWords; let i = index">{{i+1}}. {{word.definition}}</p>
  </div>
  <div>
    <h2>vertical</h2>
    <p *ngFor="let word of verticalWords; let i = index">{{i+1}}. {{word.definition}}</p>
  </div>
</div>