<h1>Mot croisé!</h1>
<h2>Nombre de joueurs: {{nbPlayers}}</h2>
<h2>Difficulté : </h2>
<nav>
  <a routerLink="/crossword/easy" routerLinkActive="active"> <p>Easy</p> </a>
</nav>
<nav>
  <a routerLink="/crossword/medium" routerLinkActive="active"> <p>Medium</p> </a>
</nav>
<nav>
  <a routerLink="/crossword/hard" routerLinkActive="active"> <p>Hard</p> </a>
</nav>

<div class="layout">
  <div class="crossword-grid" >
    <div class="crossword-row" *ngFor="let row of cells">
      <div *ngFor="let cell of row" (click)="onCellClicked($event, cell)" [ngClass]="{'selected': cell.selected === true, 'cell': cell.selected === false, 'black': cell.isBlack === true}">
        {{cell.content}}
      </div>
    </div>
  </div>
  <div>
    <h2>horizontal</h2>
    <p *ngFor="let word of horizontalWords; let i = index" (click)="onIndexClicked($event, word)" [ngClass]="{'definition-selected': selectedWord === word, 'definition': selectedWord !== word}">{{i+1}}. {{word.definition}}</p>
  </div>
  <div>
    <h2>vertical</h2>
    <p *ngFor="let word of verticalWords; let i = index" (click)="onIndexClicked($event, word)" [ngClass]="{'definition-selected': selectedWord === word, 'definition': selectedWord !== word}">{{i+1}}. {{word.definition}}</p>
  </div>
</div>
