
h1 {color: #f78f08;
    font-family: courier; 
    font-size: 50px;
    text-align: center;

}
[hidden] { display: none !important;}
button {
    font-family: courier;
    background-color:green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    margin: 2vmax;
}
table {
    font-family: courier;
    border: 1px solid black;
    border-radius: 8px;
    float: left;
    background: rgb(235, 232, 232); 
    width: 70%;  
    margin: 5vh;
  } 
  td, th {
    text-align: center;
    border-bottom: 1px solid gray;
}
caption {
    font-size: 16px;
    color: blue;
}
.submit {
    background-color : #f78f08;;
    color:white;
    
}
div {font-family: courier;
    width: 30%; 
    margin: 10vh;

}
input{font-family: courier;
    border: 1px solid black;
    border-radius: 8px;
    margin: 4px 2px;
    font-size: 16px;}
.return{
        background-color: black;
        color: white; 
      }