<p>
  Home Page. Welcome to the crossword
</p>
<form #form = "ngForm" (ngSubmit)=play(form) >
<label>Choose the difficulty</label>
<div class="form-group">
  <div class="radio">
      <label>
          <input type="radio" name="EasyMediumHard" value=0 [(ngModel)] ="EasyMediumHard">
          Easy
      </label>
  </div>
  <div class="radio">
      <label>
          <input type="radio" name="EasyMediumHard" value=1 [(ngModel)] ="EasyMediumHard">
          Medium
      </label>
  </div>
  <div class="radio">
    <label>
        <input type="radio" name="EasyMediumHard" value=2 [(ngModel)] ="EasyMediumHard">
        Hard
    </label>
  </div>
</div>

<label>Number of players : </label>
<div class="form-group">
  <div class="radio">
      <label>
          <input type="radio" name="oneTwo" value=1 [(ngModel)] = "oneTwo">
          One
      </label>
  </div>
  <div class="radio">
      <label>
          <input type="radio" name="oneTwo" value=2 [(ngModel)] = "oneTwo">
          Two
      </label>
  </div>
</div>
<button type="submit" >Play</button>
<button [disabled]="oneTwo != 2" (click)="joinExisting(form)" >Join Existing</button>
</form>
