.canvas {
    width: 100%;
    height: 800px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li{
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid black;
    float:left;  
    left: 38vw; 
    top : 10vh;
  }
  
.green {
    background-color: rgb(55, 211, 24);
  }
  
.red {
    background-color: red;
  }

.disapear {
    visibility:hidden;
  }
